@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

#hero {
    background: #dbdcde url('../images/background.webp') 50% 70% / cover;
    min-height: 500px;
    padding: 5% 7%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63;
}

.sharps,
.sharps * {
    border-radius: 0;
}

#about {
    background-color: white;
    ;
}

#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #184f63;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798;
}

#portfolio .card-text {
    min-height: 120px;
}

#contact {
    background-color: white;
}

@media screen and (min-width: 1200px) {
    #portfolio .card-text {
        min-height: auto;
    }
}